html{
  font-family: 'Grandstander', cursive;
  font-size: 10px;
  background: #22da93;
}

body{
  padding: 1rem;
  background: #1186ec;
  color: rgb(230,225,225);
  width: 60%;
  margin: 50px auto;
  border-radius: 50px;
}

.logo{
  margin-top:20px;
  text-align: center;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

form{
  text-align: center;
}

label{
  font-size:1.8rem;
}

input[type='number']{
  font-family: inherit;
  background: rgb(230,225,225);
  width:40%;
  margin: 1rem 0;
  padding: 0.8rem 0;
  border: none;
  font-size: 1.2rem;
  text-align: center;
}

button{
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bolder;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background: #0ad9ff;
  margin: 0.5rem 0 1rem 0;

}

ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li{
  border: 1px solid;
  padding: 1rem 1.5rem;
}

.entriesWrapper{
  padding: 1rem 0;
  font-size: 1.6rem;
}

.entriesWrapper h3{
  margin: 0;
  text-align: center;
  font-weight: lighter;
}

.data{
  font-size: 2rem;
}

.data div{
  background:#141c22;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0 1rem;
}

.progress{
  text-align: center;
  padding-bottom: 1rem;
}

progress h3{
  font-size: 1.6rem;
  font-weight: lighter;
}

.progressCircleWrapper{
  display: flex;
  justify-content: center;
}

#progressCircle{
  width:250px;
  height: 250px;
  border-radius: 50%;
  /* background: conic-gradient(#70db70 50%, #2d3740 50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}

#progressCenter{
  width:220px;
  height: 220px;
  border-radius: 50%;
  background: #1186ec;
  
}

@media(max-width: 700px){
  body{
  min-width:80%;
  }

  

  input[type='number']{
    width:40%;
  }
}